@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background: hsl(0, 0%, 8%);
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    height: 70vh;
    width: 22.5vw;
    border-radius: 15px;
    background: hsl(0, 0%, 12%);
}

.profile{
    width: 80%;
    height: 40%;
    padding-top: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}
.profile img{
    border-radius: 50%;
    width: 90px;
    margin-bottom: 10%;
}


#name{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 2.5%;
}
#location{
    color: hsl(75, 94%, 57%);
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 7.5%;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6%;
    width: 80%;
    height: 60%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.links a{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    height: 150%;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: bold;
}

@keyframes linkHover {
    from {
        background: hsl(0, 0%, 20%);
        transform: scale(1);
        color: hsl(0, 0%, 100%);
    }to{
        background: hsl(75, 94%, 57%);
        transform: scale(1.05);
        color: hsl(0, 0%, 8%);
    }
}

.linkUnhover{
    animation: linkUnhover 0.5s forwards;
}

.linkHover{
    animation: linkHover 0.5s forwards;
}

@keyframes linkUnhover {
    from{
        background: hsl(75, 94%, 57%);
        transform: scale(1.05);
        color: hsl(0, 0%, 8%);
    }
    to {
        background: hsl(0, 0%, 20%);
        transform: scale(1);
        color: hsl(0, 0%, 100%);
    }
}

@media screen and (max-width: 375px) {
    .box{
        width: 90vw;
        height: 80vh;
    }
    #bio{
        font-size: 14px;
    }
}